In [1]:
import pandas as pd
from app.utils.dataset_parser import DatasetParser

In [6]:
input_file = "../merged_datasets2.csv"
output_file = 'saved_dictionary_6.pkl'
data_cleaner = DatasetParser()

# default output is ta test_cleaned_table_output.txt

In [8]:
# process the datasset
# -- parse individual features in the 'features' column
# -- combine duplicate features and standardize names like finish type -> finish types

CONTINUE_AFTER_INTERRUPTION = True

if CONTINUE_AFTER_INTERRUPTION:
    data_cleaner.load_from_file('saved_dictionary_5.pkl')
    
    #ITERATION_START = 112     # if picking up without saved variables
    ITERATION_START = iter # if picking up from the same kernel
else:
    data_cleaner.table = [] # start completely fresh; reset all previously-loaded data
    ITERATION_START = 0

MAX_ITERATIONS = 500
iter = 0
print(f"Processing chunks starting at chunk {ITERATION_START}")
try:
    for chunk in pd.read_csv(input_file, chunksize=10000):
        if iter < ITERATION_START:
            iter = iter + 1
            continue
        chunk.head()
        data_cleaner.format_df_chunk(chunk)
        #data_cleaner.write_table_to_file() # write to plain text file for debug
        iter = iter + 1
        if iter == MAX_ITERATIONS:
            break
except Exception as e:
    raise e
finally:
    print(f"Chunks processed: {iter}; rows saved: {len(data_cleaner.table)}")
    # save current progress to file
    data_cleaner.save_to_file(output_file)
    print(f"Saved to {output_file}")

# save current progress to file. 46m 16.9s for first run.
#data_cleaner.save_to_file('saved_dictionary.pkl') # initial run

Loaded parsed dataset with 1120000 rows from file: saved_dictionary_5.pkl
Processing chunks starting at chunk 111
loaded 10000 rows into table (total: 1130000)
loaded 10000 rows into table (total: 1140000)
loaded 10000 rows into table (total: 1150000)
loaded 10000 rows into table (total: 1160000)
loaded 10000 rows into table (total: 1170000)
loaded 10000 rows into table (total: 1180000)
loaded 10000 rows into table (total: 1190000)
loaded 10000 rows into table (total: 1200000)
loaded 10000 rows into table (total: 1210000)
loaded 10000 rows into table (total: 1220000)
loaded 10000 rows into table (total: 1230000)
loaded 10000 rows into table (total: 1240000)
loaded 10000 rows into table (total: 1250000)
loaded 10000 rows into table (total: 1260000)
loaded 10000 rows into table (total: 1270000)
loaded 10000 rows into table (total: 1280000)
loaded 10000 rows into table (total: 1290000)
loaded 10000 rows into table (total: 1300000)
loaded 10000 rows into table (total: 1310000)
loaded 10000 rows into table (total: 1320000)
loaded 10000 rows into table (total: 1330000)
loaded 10000 rows into table (total: 1340000)
loaded 10000 rows into table (total: 1350000)
loaded 10000 rows into table (total: 1360000)
loaded 10000 rows into table (total: 1370000)
loaded 10000 rows into table (total: 1380000)
loaded 10000 rows into table (total: 1390000)
loaded 10000 rows into table (total: 1400000)
loaded 10000 rows into table (total: 1410000)
loaded 10000 rows into table (total: 1420000)
loaded 10000 rows into table (total: 1430000)
loaded 10000 rows into table (total: 1440000)
loaded 10000 rows into table (total: 1450000)
loaded 10000 rows into table (total: 1460000)
loaded 10000 rows into table (total: 1470000)
loaded 10000 rows into table (total: 1480000)
loaded 10000 rows into table (total: 1490000)
loaded 10000 rows into table (total: 1500000)
loaded 10000 rows into table (total: 1510000)
loaded 10000 rows into table (total: 1520000)
loaded 10000 rows into table (total: 1530000)
loaded 10000 rows into table (total: 1540000)
loaded 10000 rows into table (total: 1550000)
loaded 10000 rows into table (total: 1560000)
loaded 10000 rows into table (total: 1570000)
loaded 10000 rows into table (total: 1580000)
loaded 10000 rows into table (total: 1590000)
loaded 10000 rows into table (total: 1600000)
loaded 10000 rows into table (total: 1610000)
loaded 10000 rows into table (total: 1620000)
loaded 10000 rows into table (total: 1630000)
loaded 10000 rows into table (total: 1640000)
loaded 10000 rows into table (total: 1650000)
loaded 10000 rows into table (total: 1660000)
loaded 10000 rows into table (total: 1670000)
loaded 10000 rows into table (total: 1680000)
loaded 10000 rows into table (total: 1690000)
loaded 10000 rows into table (total: 1700000)
loaded 10000 rows into table (total: 1710000)
loaded 10000 rows into table (total: 1720000)
loaded 10000 rows into table (total: 1730000)
loaded 10000 rows into table (total: 1740000)
loaded 10000 rows into table (total: 1750000)
loaded 10000 rows into table (total: 1760000)
loaded 10000 rows into table (total: 1770000)
loaded 10000 rows into table (total: 1780000)
loaded 10000 rows into table (total: 1790000)
loaded 10000 rows into table (total: 1800000)
loaded 10000 rows into table (total: 1810000)
loaded 10000 rows into table (total: 1820000)
loaded 10000 rows into table (total: 1830000)
loaded 10000 rows into table (total: 1840000)
loaded 10000 rows into table (total: 1850000)
loaded 10000 rows into table (total: 1860000)
loaded 10000 rows into table (total: 1870000)
loaded 10000 rows into table (total: 1880000)
loaded 10000 rows into table (total: 1890000)
loaded 10000 rows into table (total: 1900000)
loaded 10000 rows into table (total: 1910000)
loaded 10000 rows into table (total: 1920000)
loaded 10000 rows into table (total: 1930000)
loaded 10000 rows into table (total: 1940000)
loaded 10000 rows into table (total: 1950000)
loaded 10000 rows into table (total: 1960000)
loaded 10000 rows into table (total: 1970000)
loaded 10000 rows into table (total: 1980000)
loaded 10000 rows into table (total: 1990000)
loaded 10000 rows into table (total: 2000000)
loaded 10000 rows into table (total: 2010000)
loaded 10000 rows into table (total: 2020000)
loaded 10000 rows into table (total: 2030000)
loaded 10000 rows into table (total: 2040000)
loaded 10000 rows into table (total: 2050000)
loaded 10000 rows into table (total: 2060000)
loaded 10000 rows into table (total: 2070000)
loaded 10000 rows into table (total: 2080000)
loaded 10000 rows into table (total: 2090000)
loaded 10000 rows into table (total: 2100000)
loaded 10000 rows into table (total: 2110000)
loaded 10000 rows into table (total: 2120000)
loaded 10000 rows into table (total: 2130000)
loaded 10000 rows into table (total: 2140000)
loaded 10000 rows into table (total: 2150000)
loaded 10000 rows into table (total: 2160000)
loaded 10000 rows into table (total: 2170000)
loaded 10000 rows into table (total: 2180000)
loaded 10000 rows into table (total: 2190000)
loaded 10000 rows into table (total: 2200000)
loaded 10000 rows into table (total: 2210000)
loaded 10000 rows into table (total: 2220000)
loaded 10000 rows into table (total: 2230000)
loaded 10000 rows into table (total: 2240000)
loaded 10000 rows into table (total: 2250000)
loaded 10000 rows into table (total: 2260000)
loaded 10000 rows into table (total: 2270000)
loaded 10000 rows into table (total: 2280000)
loaded 10000 rows into table (total: 2290000)
loaded 10000 rows into table (total: 2300000)
loaded 10000 rows into table (total: 2310000)
loaded 10000 rows into table (total: 2320000)
loaded 10000 rows into table (total: 2330000)
loaded 10000 rows into table (total: 2340000)
loaded 10000 rows into table (total: 2350000)
loaded 10000 rows into table (total: 2360000)
loaded 10000 rows into table (total: 2370000)
loaded 10000 rows into table (total: 2380000)
loaded 10000 rows into table (total: 2390000)
loaded 10000 rows into table (total: 2400000)
loaded 10000 rows into table (total: 2410000)
loaded 10000 rows into table (total: 2420000)
loaded 10000 rows into table (total: 2430000)
loaded 10000 rows into table (total: 2440000)
loaded 10000 rows into table (total: 2450000)
loaded 10000 rows into table (total: 2460000)
loaded 10000 rows into table (total: 2470000)
loaded 10000 rows into table (total: 2480000)
loaded 10000 rows into table (total: 2490000)
loaded 10000 rows into table (total: 2500000)
loaded 10000 rows into table (total: 2510000)
loaded 10000 rows into table (total: 2520000)
loaded 10000 rows into table (total: 2530000)
loaded 10000 rows into table (total: 2540000)
loaded 10000 rows into table (total: 2550000)
loaded 10000 rows into table (total: 2560000)
loaded 10000 rows into table (total: 2570000)
loaded 10000 rows into table (total: 2580000)
loaded 10000 rows into table (total: 2590000)
loaded 10000 rows into table (total: 2600000)
loaded 10000 rows into table (total: 2610000)
loaded 10000 rows into table (total: 2620000)
loaded 10000 rows into table (total: 2630000)
loaded 10000 rows into table (total: 2640000)
loaded 10000 rows into table (total: 2650000)
loaded 10000 rows into table (total: 2660000)
loaded 10000 rows into table (total: 2670000)
loaded 10000 rows into table (total: 2680000)
loaded 10000 rows into table (total: 2690000)
loaded 10000 rows into table (total: 2700000)
loaded 10000 rows into table (total: 2710000)
loaded 10000 rows into table (total: 2720000)
loaded 6775 rows into table (total: 2726775)
Chunks processed: 272; rows saved: 2726775
Saved parsed dataset to file: saved_dictionary_6.pkl

In [5]:
output_file = 'saved_dictionary_5.pkl'
data_cleaner.save_to_file(output_file)

Saved parsed dataset to file: saved_dictionary_5.pkl

In [ ]:
selected_cols = [1, 2, 3, 4
                    , 5     # Product Dimensions {'5.63 x 2.83 x 0.39 inches; 1.9 Ounces'}
                    , 120, 300, 350
                    , 137 # Title: "Skully's Ctz Beard Oil"
                    , 9000
                    , 10000-1
                    ]

In [5]:
# print the set to console
# data_cleaner.print_seen_attributes() 

# save set of attributes to file
sorted_dict = dict(sorted(data_cleaner.set_of_seen_attributes.set.items(), key=lambda item: item))
items = []
counts = []
for item in sorted_dict:
    items.append(item)
    counts.append(sorted_dict[item])


df_att = pd.DataFrame.from_dict({ "items": items, "counts": counts})
df_att.to_csv("saved_dictionary_feature_counts_3.csv")
df_att.head()

                   items  counts
0                         572225
1  abpa_partslink_number       3
2     ac_adapter_current      33
3        access_location    2459
4              accessory       5

In [40]:
#set_items = data_cleaner.set_of_seen_attributes.set
#sorted_dict = dict(sorted(set_items.items(), key=lambda item: item))
#for item in sorted_dict:
#    print(item, sorted_dict[item])

#data_cleaner.print_seen_attributes() # set

print(i)
data_cleaner.table[i].print()
i = i + 1

32
    title: {'Replacement Left Right Trigger Shoulder Button L R Flex Cable for Sony PSV PS VITA 1000 PSVita 1000'}
    main_category: {'Industrial & Scientific'}
    average_rating: {4.8}
    best_sellers_rank: {('item_model_number', '1'), ('rating_number', 11)}
    price: {'11.98'}
    store: {'SZLG'}
    parent_asin: {'B07TS9YK6V'}
    possible_category: {'author', 'bought_together', 'subtitle'}
    brand: {'SZLG'}
    color: {'Black'}
    connector_gender: {'Male-to-Female'}
    pieces: {'1.0 Count'}
    indoor/outdoor_usage: {'Outdoor, Indoor'}
    is_discontinued_by_manufacturer: {'No'}
    package_dimensions: {'2.75 x 1.3 x 0.2 inches', '0.63 Ounces'}
    date_first_available: {'November 10, 2019'}
    manufacturer: {'SZLG'}
    categories: {('Video Games', 'Legacy Systems', 'PlayStation Systems', 'PlayStation Vita', 'Games')}
    description: {''}